*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hide {
  display:none;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

canvas {
  position:absolute;
  height:calc(100vh - 115px);
}

.header {
  position:relative;
}

.header__banner {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  top:calc(-100% - 4px);
}

.header__list {
  list-style: none;
  margin:0;
  display: flex;
  justify-content: flex-end;
}

.header__listitem {
  padding-left: 20px;
  padding-right: 20px;
}

.header__listitem:last-child {
  padding-right:0;
}

.header__link {
  color:#2c1b3d;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.header__portrait {
  position:relative;
  z-index: 2;
  border-width:4px;
  border-style:solid;
  border-color:white;
  opacity:1;
}

.header__nav {
  position:relative;
  z-index: 2;
}

.header__inner {
  display: grid;
  grid-template-columns: 158px auto;
  align-items: center;
  grid-template-rows: 90px;
}

.header__portrait {
  position: relative;
  top: 0px;
  overflow:hidden;
}

.header__img {
  display:block;
  position:relative;
  height:30px;
}

.intro {
  font-family: 'Lato', sans-serif;
  height:calc(100vh - 105px);
  position:relative;
  top:15px;


}

.intro__inner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.intro__box {
  display:block;
  opacity:1;
  text-align: center;

  display: block;
  text-align: center;
  background-color: #ffffffbd;
  position: relative;
  box-shadow: 0px 0px 135px 65px #ffffff;
}

.intro__content {
  position:relative;
  z-index: 2;
}

.intro__title {
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size: 47px;
  color:#2c1b3d;
  position:relative;
}

.intro__description {
  display:block;
  color:gray;
  font-size: 27px;
  position:relative;
}

.intro__calltoaction {
  position:relative;
  background-color:#2c1b3d;
  border-bottom:4px;
  color:white;
  padding:14px;
  border:none;
  font-size:14px;
  text-transform: uppercase;

  cursor:pointer;
}

.intro__calltoaction:after {
  content:"";
  background-color:#655ed2;
  height:4px;
  display:block;
  position:absolute;
  bottom:-4px;
  width:100%;
  left:0;
}

.box {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  pointer-events: none;
}

.box__portrait {
  position:absolute;
  height:150px;
  width:150px;
  border-width:4px;
  border-style:solid;
  border-color:white;
  box-sizing:unset;
}


.box__dot {
  position:absolute;
  height:5px;
  background-color:#655ed2;
  opacity:1;
}

.box__dot--intro {
  top:50%;
  left:50%;
  width:30px;
  height:30px;
  transform-origin: 0% 0;
}

.box__dot--topleft {
  top:0;
  left:0;
  width:150px;
  transform: scaleX(0.03333);
  transform-origin: 0% 50%;
}

.box__dot--topright {
  right:0;
  top:0;
  height:150px;
  width:5px;
  transform: scaleY(0.03333);
  transform-origin: 0% 0%;
}

.box__dot--bottomleft {
  left: 0;
  top: 0;
  transform-origin: 100% 0;
  height: 150px;
  width: 5px;
  transform: scaleY(0.03333);
}

.box__dot--bottomright {
  height:5px;
  width:150px;
  transform: scaleX(0.03333);

  left: 0;
  bottom: 0;
  transform-origin: 0% 100%;
}

.box__dot--bottom {
  width:150px;
  bottom:0;
  opacity:1;
  height:150px;

  transform: scaleY(0.03333);
  transform-origin: 0% 100%;
}


.wallpaper {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}


.wallpaper__icon {
  width: 140px;
  filter: grayscale(1);
  opacity: 0.08;
  transition-property: filter, opacity, transform;
  transition-duration: 0.3s;

  position:absolute;

  /*transform: scale(0.8);*/
}

.wallpaper__icon:hover {
  filter: grayscale(0);
  opacity:1;
}


.wallpaper__icon--tall {
  height:140px;
  max-width:140px;
}


.wallpaper__icon--html5 {
  width: 90px;
  height: 90px;
  left: -126px;
  top: -271px;
}

.wallpaper__icon--sass {
  width: 90px;
  height: 70px;
  left: 460px;
  bottom: -118px;
}

.wallpaper__icon--typescript {
  width: 145px;
  height: 36px;
  right: -303px;
  top: -266px;
}

.wallpaper__icon--react {
  width: 122px;
  height: 86px;
  right: -38px;
  top: -247px;
  opacity: 0.2;
}



.wallpaper__icon--babel {
  left: -296px;
  width: 110px;
}

.wallpaper__icon--gulp {
  top: -300px;
  left: 98px;
  height: 97px;
  width: auto;
}

.wallpaper__icon--grunt {
  left: -30px;
  height: 90px;
  bottom: -137px;
  width: 75px;
}

.wallpaper__icon--npm {
  top: -35px;
  right: -10px;
  width: 90px;
  height: 35px;
}

.wallpaper__icon--mysql {
  bottom: -177px;
  left: 130px;
  height: 87px;
}

.wallpaper__icon--jquery {
  bottom: -81px;
  right: -54px;
}

.wallpaper__icon--git {
  left: -124px;
  top: 109px;
  width: 94px;
}

.wallpaper__icon--angular {
  top: -177px;
  width: 73px;
  left: -291px;
}

.wallpaper__icon--node {
  right: -331px;
  top: -35px;
}

.wallpaper__icon--atlassian {
  left: -83px;
  top: -75px;
}

.wallpaper__icon--php {
  left: -222px;
  top: 200px;
  width: 90px;
}

.wallpaper__icon--github {
  right: -162px;
  top: -148px;
  width: 90px;
}

.wallpaper__icon--jenkins {
  right: -181px;
  bottom: 81px;
}

.wallpaper__icon--wordpress {
  top: -154px;
  height: auto;
  left: 89px;
  width: 155px;
}

