.li {
  list-style: none;
  vertical-align: middle;
  display: flex;
  justify-items: center;
  align-items: center;
  grid-row-gap: 10px;
}

.span {
  color: var(--black);
}

.li:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: currentColor;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: middle;
  display: flex;
  justify-items: center;
  align-items: center;
}
