.article {
  margin-bottom: 30px;
}

.title {
  margin-bottom: 8px;
}
.titlelink {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: var(--grey);
}

.date {
  font-size: 14px;
  font-weight: 500;
}

.description {
  margin-top: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
}
